<%= render 'shared/errors', resource: time_slot %>

<%= form_with model: model, local: true do |f| %>
  <p>
    <%= f.label :day %>
    <%= f.select :day, day_of_week_select %>
  </p>

  <p>
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </p>

  <p>
    <%= f.label :end_time %>
    <%= f.time_select :end_time %>
  </p>

  <p>
    <%= f.submit button_action %>
  </p>
<% end %>
