<%= content_tag :tr, class: "time-slot-#{time_slot.id}" do %>
  <td><%= time_slot.day_and_time %></td>
  <td>
    <%= content_tag :ul, class: "time-slot-#{time_slot.id}-appointments" do %>
      <%= render time_slot.appointments %>
    <% end %>
  </td>
  <% if policy(time_slot).update? %>
    <td><%= link_to 'Edit time slot' %></td>
    <td><%= render 'time_slots/form',
                   model: time_slot,
                   time_slot: time_slot,
                   button_action: 'Edit time slot' %></td>
  <% end %>
  <% if user_signed_in? %>
    <td><%= link_to 'Delete time slot',
                    time_slot,
                    method: :delete,
                    remote: true %></td>
  <% end %>
<% end %>
