<%= render 'shared/errors', resource: @schedule %>

<%= form_with model: @schedule, local: true do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit button_action %>
  </p>
<% end %>
